* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(255, 252, 240);
    padding: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 32px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);

}

h1 {
    font-size: 40px;
    align-items: center;
    margin-bottom: 20px;
    color: rgb(114, 43, 7);
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: rgb(61, 42, 20);
}

.form-group {
    margin-bottom: 16px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    color: bisque;
    background-color: rgb(114, 43, 7);
    cursor: pointer;
    border-style: none;

}

button:hover {
    background-color: #4d1705;
}